/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  margin: 0 auto;
  max-width: 750px;
  background-image: url("/images/site/checkerboard.jpg");
}

#wrapper {
  padding: 0 .5rem;
  margin: 1rem;
  background-color: white;
  border-style: solid;
  border-color: #01B0D3;
  border-radius: 15px;
}
 /* header */
#top-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#top-header a {
  text-decoration: none;
}
.siteName {
  padding-top: 2%;
}

.siteName a {
  font-size: 25px;
  font-weight: bold;
  color: black;
}
#tools {
  padding-top: 2%;
  font-size: 15px;
  text-transform: uppercase;
}
/* navigation */

nav ul {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: black;
  border-radius: .5rem;
}

nav ul li {
  justify-content: center;
  text-align: center;
  padding: 1rem .3rem;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

/* main */
main {
  margin: 2rem 0;
}

main > h2, #reviews h2, #left-content h2 {
  margin-bottom: .8rem;
}

.container{
  position: relative;
  max-width: 650px;
  margin: 0 auto;
  margin-bottom: 2rem;
  padding: 20px;
}

.delorean {
  width: 300px;
  height: auto;
}

#top-content {
  position: absolute;
  top: 0;
  padding: .1rem;
  background-color: #f8f8f8a0;
  color: #01B0D3;
}
#top-content h2 {
  font-size: 15px;
}

#top-content ul {
  font-size: 12px;
  list-style: none;
  padding-left: 0;
  margin-bottom: .1rem;
}
#top-content ul .button {
  color: black;
  width: 95%;
  align-self: center;
}

#top-content .button {
  padding: .5rem 1rem;
  border: none;
  background-color: #01B0D3;
  white-space: nowrap;
}


/* upgrades */
#left-content {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 1rem;
}

.image-content {
  margin: auto;
  width: 100%;
  max-width: 150px;
}

.image-content * {
  text-align: center;
  display: block;
}

.image-content span {
  background-color: #01B0D3;
  height: 90px;
  border-radius: .4rem;
  position: relative;
}

.image-content-img {
  position: absolute; 
  top: .5rem; 
  right: 0; 
  left: 0;
  margin: 0 auto; 
}

/* Reviews */

#reviews{
  margin-bottom: 2rem;
}

#reviews ul {
  padding-left: 1rem;  
}
#reviews li {
  margin: 5px;
}

/************ Classification page *************/
#inv-display {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  padding: 0;
  justify-items: center;
  gap: 1rem;
}

#inv-display li {
  width: 200px;
  border: 2px solid black;
  border-radius: .5rem;
  height: 280px;
}

#inv-display li > a {
  display: block;
  text-align: center;
  height: 150px;
}

#inv-display li a img {
  border-radius: .5rem;
  width: 100%;
}

.namePrice h2 a {
  text-decoration: none;
  font-size: 1.2rem;
}

.namePrice hr {
  border: 1px solid black;
}

.namePrice {
  text-align: center;
}

/* Details Page */

.car-picture {
  width: 100%;
}

.desc-text {
  background-color: rgb(199, 195, 195);
}


/* Error Image */
.error-image{
  width: 100%;
}

/*Login Page style*/
.login-page-title, .registration-page-title {
  margin: 1rem;
  font-family: 'Kanit', 'sans-serif';
  font-size: 2rem;
}

.login-box, .register-box {
  margin: 0 auto;
  background-color: rgb(48, 93, 135);
  border-radius: 5px;
  border: 5px solid black;
  max-width: 500px;

}

form {
  margin: 2rem;
}

label {
  display: block;
  font-size: 1rem;
  font-family: 'Work Sans', 'sans-serif';
  margin: 1rem;
  color: white;
  width: 80%;
}

input {
  width: 100%;
  height: 2rem;
  font-size: 1rem;
  font-family: 'Work Sans', 'sans-serif';
}

form p {
  font-size: 1rem;
  font-family: 'Work Sans', 'sans-serif';
  margin: 1rem;
  color: white;  
}

.login-box p, .register-box p {
  font-size: 1rem;
  font-family: 'Work Sans', 'sans-serif';
  margin: 1rem;
  color: white;
  text-align: justify;
}

.login-box a, .register-box p {
  font-size: 1rem;
  font-family: 'Work Sans', 'sans-serif';
  color: white;
}

.login-button, .register-button {
  height: 2rem;
  font-size: 1rem;
  font-family: 'Work Sans', 'sans-serif';
  background-color: white;
  color: black;
  border-radius: 5px;
  border: 2px solid black;
}

.no-registration, .registered {
  padding: 1rem;
}

.login-wrapper, .register-wrapper {
  margin: 1rem;
}

.login, .register {
  color: white;
}

/*Add Classification View Styling*/
.add-classification-page {
  margin: 1rem;
  font-family: 'sans-serif';
  font-size: 2rem;
}

.add-classification-wrapper {
  display: grid;
  grid-template-columns: 1fr;
}

.add-box {
  margin: 2rem auto;
  background-color: rgb(48, 93, 135);
  border-radius: 5px;
  border: 5px solid black;
  max-width: 500px;
}

.add-class-button {
  height: 2rem;
  font-size: 1rem;
  font-family: 'sans-serif';
  background-color: white;
  color: black;
  border-radius: 5px;
  border: 2px solid black;
}

.add-inventory-title {
  margin: 1rem;
  font-family: 'sans-serif';
  font-size: 2rem;
}


@media screen and (min-width: 768px) {
  body {
    margin: 2rem auto;
    background-image: url("/images/site/small_check.jpg");
  }

  /* Nav */

  nav ul li a:hover {
    background-color: white;
    color: black;
  }
  
  nav ul li {
    display: inline;
    height: 55px;
    font-size: 25px;  
  }

  #wrapper {
    border: .4rem solid #01B0D3;
    border-radius: .5rem;
  }
  .bottom-content {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;
  }
  #delorean-upgrades {
    order: -1;
  }

  .delorean {
    width:500px;
    height: auto;
  }

  #top-content {
    position: absolute;
    top: 0;
    padding: .6rem;
    background-color: #f8f8f8a0;
    color: #01B0D3;
  }

  #top-content h2 {
    font-size: larger;
  } 
  
  #top-content ul {
    font-size: medium;
    list-style: none;
    padding-left: 0;
    margin-bottom: .95rem;
  }
  #top-content ul .button {
    color: black;
    width: 90%;
    align-self: center;
  }
  
  #top-content .button {
    padding: .3rem 1rem;
    border: none;
    background-color: #01B0D3;
    white-space: nowrap;
  }

  #reviews li {
    margin: 20px;
  }

  /* Details Box */

  #inv-display {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, minmax(220px, 1fr));
    padding: 0;
    justify-items: center;
    gap: 1rem;
  }

  .details-outer-box{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 2rem;
    gap: 2rem; 
  }
  
  .car-picture {
    grid-column: 1/2;
  }
  
  .details-inner-box {
    grid-column: 2/3;
  }
}